.venv 
.nodeenv 
.devcontainer
node_modules
dist

**/target
**/.idea/**
**/.vscode/**
**/.DS_Store
**/venv
**/.coverage
**/htmlcov/**
**/.vscode/**
.env
.venv
**/*.ipynb

quantinuum_docs_theme/theme/quantinuum_docs_theme/static/index.global.js
quantinuum_docs_theme/theme/quantinuum_docs_theme/static/styles.css
quantinuum_docs_theme/theme/quantinuum_docs_theme/static/tokens.css
demo/build
