{% extends "base.html" %}

{% block extrahead %}
{{ super() }}
<script>

  const navTextLinks = JSON.parse('{{ theme_navTextLinks|tojson }}')
  const navProductName = JSON.parse('{{ theme_navProductName|tojson }}')
  const navIconLinks = JSON.parse('{{ theme_navIconLinks|tojson }}')
</script>



<link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
  />


<style>
    .navbar-brand {
        display: none;
        margin-bottom: -1rem;
    }
    
    .sidebar-primary-items__start {
        margin-top: -1rem;
    }
    
    .bd-sidebar, .bd-header-article, .bd-sidebar-secondary {
        top: calc(3.5rem - 0px);
    
    }
</style>
{% endblock %}
{% block body -%}
{{ super() }}


<nav style="all:unset;position:sticky;top:0;z-index:1021;width:100%;">
    <header class="nexus-nav"></header>
</nav>
<script type="text/javascript" src="/_static/index.global.js"></script>

{% endblock %}

